{{! products.hbs }}
 
{{#extends "layout"}}
 
    {{#block "scripts"}}
    {{/block}}
 
    {{#block "content" mode="append"}}

        {{#*inline "product-table"}}
            <table class="u-full-width">
                <thead>
                    <tr>
                        <th>product_id</th>
                        <th>product_name</th>
                        <th>product_category</th>
                        <th>location_id</th>
                        <th>stored_quantity</th>
                        <th>unit</th>
                        <th>purchase_date</th>
                        <th>expiration_date</th>
                        <th>add</th>
                        <th>search</th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td><input type="number">product_id<input></td>
                            <td><input type="text">product_name<input></td>
                            <td><input type="">product_category<input></td>
                            <td><input type="text">location_name<input></td>
                            <td><input type="number">stored_quantity<input></td>
                            <td><input type="">unit<input></td>
                            <td><input type="date">purchase_date<input></td>
                            <td><input type="date">expiration_date<input></td>
                            <td>✔️</td>
                            <td>🔍</td>
                        </tr>
                </tbody>
            </table>
            <table class="u-full-width">
                <thead>
                    <tr>
                        <th>product_id</th>
                        <th>product_name</th>
                        <th>product_category</th>
                        <th>location_id</th>
                        <th>stored_quantity</th>
                        <th>unit</th>
                        <th>purchase_date</th>
                        <th>expiration_date</th>
                        <th>edit</th>
                        <th>delete</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each products}}
                        <tr>
                            <td><input type="number" value="{{product_id}}" id="f{{product_id}}"></td>
                            <td><input type="text" value="{{product_name}}" id="f{{product_name}}"></td>
                            <td><input type="" value="{{product_category}}" id="f{{product_category}}"></td>
                            <td><input type="number" value="{{location_id}}" id="f{{location_id}}"></td>
                            <td><input type="number" value="{{stored_quantity}}" id="f{{stored_quantity}}"></td>
                            <td><input type="text" value="{{unit}}" id="f{{unit}}"></td>
                            <td><input type="date" value="{{purchase_date}}" id="f{{purchase_date}}"></td>
                            <td><input type="date" value="{{expiration_date}}" id="f{{expiration_date}}"></td>
                            <td><input type="button" value="📝" id=""></td>
                            <td><input type="button" value="❌" id=""></td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        {{/inline}}

        {{> product-table}}

                <!-- The above form looks like this -->
        <!-- Always wrap checkbox and radio inputs in a label and use a <span class="label-body"> inside of it -->

        <!-- Note: The class .u-full-width is just a utility class shorthand for width: 100% -->
    {{/block}}
 
{{/extends}}